//
// Defaults
// --------------------------------------------------

::selection {
  background: rgba($black, .7);
  color: $white;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  line-height: $font-line-height-base;
  font: {
    family: $font-family-base;
    size: $font-size-base;
    weight: $regular;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footer {
  flex: 0 0 auto;
  max-width: 100%;
}

[v-cloak] {
  visibility: hidden;
}
