@mixin inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: $site-width;
  height: inherit;
  margin: 0 auto;
  padding: 0 $site-gutter;
}

@mixin word-break {
  -ms-word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;

  @supports not (overflow-wrap: break-word) {
    word-wrap: break-word;
  }
}

@mixin screen-lg() {
  @media screen and (min-width: 1921px) {
    @content;
  }
}

@mixin screen-md() {
  @media screen and (min-width: 1401px) {
    @content;
  }
}

@mixin screen-sm() {
  @media screen and (min-width: 1241px) {
    @content;
  }
}

@mixin tablet-lg() {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin tablet-md() {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin tablet-sm() {
  @media screen and (min-width: 602px) {
    @content;
  }
}

@mixin phone-lg() {
  @media screen and (min-width: 481px) {
    @content;
  }
}

@mixin phone-md() {
  @media screen and (min-width: 401px) {
    @content;
  }
}

@mixin phone-xs() {
  @media screen and (min-width: 375px) {
    @content;
  }
}
