//
// Variables
// --------------------------------------------------


//== Paths

// Images
$path-img: "../../img/";
$path-fonts: "../../fonts/";


//== Fonts

// Family
$font-family-base: "Montserrat", Arial, sans-serif;

// Size
$font-size-base: 16px;

// Line-height
$font-line-height-base: 1;

// Weight
$thin: 100;
$extralight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra-bold: 800;
$black-weight: 900;


//== Site sizes
$site-width: 400px;
$site-gutter: 24px;

//== Colors

$white: #fff;
$black: #18191F;
$black-800: #474A57;
$yellow: #FFBD12;
$orange: #F95A2C;
$orange-800: #FF9692;
$blue: #1947E5;
$green: #00C6AE;
