.main-input {
  position: relative;
  display: block;
}

.main-input__icon {
  position: absolute;
  top: 14px;
  left: 16px;
  fill: $black;
  transition: .25s fill ease;

  &--error {

  }
}

.main-input__input {
  height: 52px;
  border: 2px solid $black;
  border-radius: 16px;
  display: block;
  font-size: 21px;
  font-family: $font-family-base;
  font-weight: $medium;
  line-height: 1.33;
  color: $black;
  padding-left: 50px;
  transition: .25s border-color ease;
  outline: none;

  &::placeholder {
    color: $black;
  }

  &:focus {
    border-color: $black-800;

    & + .main-input__icon {
      fill: $black-800;
    }
  }

  &--error {
    border-color: $orange;

    & + .main-input__icon {
      fill: $orange;
    }

    &:focus {
      border-color: $orange-800;

      & + .main-input__icon {
        fill: $orange-800;
      }
    }
  }
}
